
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <link href="{% static 'assets/css/core.min.css' %}" rel="stylesheet" >
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}">

    {% if title %}
    <title>ThinkDWM - {{ title }} </title>
    {% else %}
    <title>ThinkDWM</title>
    {% endif %}
</head>

<body>
    <!-- Preloader -->
        <div class="preloader">
          <div class="spinner-dots">
            <span class="dot1"></span>
            <span class="dot2"></span>
            <span class="dot3"></span>
          </div>
        </div>

        <!-- Topbar -->
        <header class="topbar topbar-expand-lg">
            <div class="topbar-left">
              <span class="topbar-btn topbar-menu-toggler"><i>&#9776;</i></span>
              <span class="topbar-brand"><img alt="logo" width =200px src="{% static 'assets/img/think-logo.png' %}"></span>

              <div class="topbar-divider d-none d-xl-block"></div>

              <nav class="topbar-navigation">
                <ul class="menu">
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'thinkWeb-home' %}">
                      <span class="title">Home</span>
                    </a>
                  </li>

                </ul>
              </nav>
            </div>

            <div class="topbar-right">
                <ul class="menu">
                    {% if user.is_authenticated %}
                      <li class="menu-item">
                        <a class="menu-link" href="{% url 'logout' %}">
                          <span class="title">Log out</span>
                        </a>
                      </li>
                    {% else %}
                      <li class="menu-item">
                        <a class="menu-link" href="{% url 'login' %}">
                          <span class="title">Log in</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a class="menu-link" href="{% url 'register' %}">
                          <span class="title">Register</span>
                        </a>
                      </li>
                    {% endif %}
                </ul>

            </div>
        </header>
        <!-- END Topbar -->

    <!-- Main container -->
    <main class="main-container">
    <div class="col-md-8">
        <br/>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
    </div>
    {% block content %}{% endblock %}
    </main><!-- END Main container -->

    <!-- Scripts -->
    <script src="{% static 'assets/js/core.min.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
</body>
</html>