{% extends "thinkWeb/base.html" %}

{% block content %}
<div class="row min-h-fullscreen">
  <div class="col-12">
    <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
      <h5 class="text-uppercase">You have been signed out</h5>

      <p class="text-muted fs-13 mt-20"><a class="text-primary fw-500" href="{% url 'login' %}">Click here to log-in again</a></p>
    </div>
  </div>
</div>

{% endblock content %}