{% extends "thinkWeb/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row min-h-fullscreen">
  <div class="col-12">
    <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
      <h5 class="text-uppercase">Sign up</h5>
      <br>

      <form method="POST">
        {% csrf_token %}
          <fieldset class="form-group">
          {{ form|crispy}}
          </fieldset>

        <div class="form-group">
          <button class="btn btn-bold btn-block btn-primary" type="submit">Register</button>
        </div>
        <hr class="w-30px">

      <p class="text-center text-muted fs-13 mt-20">Already have an account? <a class="text-primary fw-500" href="#">Sign in</a></p>
      </form>


    </div>
  </div>
</div>

{% endblock content %}